@charset "utf-8";

/*
    CSS Styles for about_us.php
    Author: Will
    Filename: about_us_styles.css
*/



/* Other Body Styles */

p#missionStatement {
    margin-top: 110px;
    text-align: center;
    
}

body {
    height: 100%;
}

/* html { */
    /* height: 100%; */
/* } */
footer {
    /* position: static;
    margin-bottom: 0px;
    height: 100%;
    overflow-y: visible;

    padding-top: 100%; */
    position: fixed;
    bottom: 0;
}

footer > p {
    margin-left: 32px;
}

div#socialMediaIcons {
    margin-left: 20px;
}

div#socialMediaIcons > img {
    margin: 0px 8px 25px 8px;
}

img#facebook {
    width: 38px;
    height: 38px;
}

img#twitter {
    width: 38px;
    height: 38px;
}

img#linkedin {
    width: 38px;
    height: 32px;
}

img#instagram {
    width: 38px;
    height: 38px;
}

img#youtube {
    width: 38px;
    height: 27px;
}


