@charset "utf-8";

/*
    CSS Styles for about_us.php
    Author: Will/ Hector
    Filename: about_us_styles.css
*/

/* Header Styles */

header {
    height: 70px;
    background-color: #ccc;
    color: black;
}

header h1 {
    margin-left: 20px;
    line-height: 70px;
}

header ul {
    float: right;
    margin: 0;
    margin-right: 20px;
    line-height: 70px;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.5s;
}

header a:hover {
    border-bottom-color: white;
}

/* Body Styles */

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

section#about {
    margin-top: 70px;
    padding: 50px;
    background-color: #F9F9F9;
}

section#theCompany img {
    float: right;
    margin-left: 10px;
    width: 150px;
    height: 100px;
}

section#theCompany p {
    margin: 0;
}

/* Footer Styles */


footer {
	background-color: #ccc;
}

div#socialMediaIcons {
    margin-left: 20px;
}

div#socialMediaIcons > img {
    margin: 0px 8px 25px 8px;
}

img#facebook {
    width: 38px;
    height: 38px;
}

img#twitter {
    width: 38px;
    height: 38px;
}

img#linkedin {
    width: 38px;
    height: 32px;
}

img#instagram {
    width: 38px;
    height: 38px;
}

img#youtube {
    width: 38px;
    height: 27px;
}
