@charset "utf-8";

/*
    CSS Styles for about_us.php
    Author: Will/ Hector
    Filename: about_us_styles.css
*/


/* Body Styles */


section#about {
    margin-top: 70px;
    padding: 50px;
    background-color: #F9F9F9;
    text-align: center;
}

section#theCompany img {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: auto;
    max-width: 600px;
}

section#theCompany p {
    margin: 30px auto 0 auto;
    max-width: 800px;
}

/* Footer Styles */

footer {
	background-color: #ccc;
}

div#socialMediaIcons {
    margin-left: 20px;
}

div#socialMediaIcons > img {
    margin: 0px 8px 25px 8px;
}

img#facebook {
    width: 38px;
    height: 38px;
}

img#twitter {
    width: 38px;
    height: 38px;
}

img#linkedin {
    width: 38px;
    height: 32px;
}

img#instagram {
    width: 38px;
    height: 38px;
}

img#youtube {
    width: 38px;
    height: 27px;
}
