@charset "utf-8";

/*
    CSS Styles for cart.php
    Author: Will
    Filename: cart_styles.css
*/

.flex-container {
    display: flex;
    /* flex-direction: row-reverse; */
    /* background-color: green; */
    /* border: 3px solid black; */
    justify-content: center;
  }
  
  .flex-container > div {
    
    /* width: 300px; */
    height: 600px;
    /* margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; */
    /* border: 3px solid black; */
    /* background-color: cyan; */

  }

  .flex-container > div.leftColumn {
    min-width: 350px;
    margin-right: 50px;
    text-align: center;
    height: 400px;
    /* margin-top: 200px; */
    /* background-color: red; */
  }

  .flex-container > div.centerColumn {
    min-width: 350px;
    /* padding-right: 60px; */
    margin-right: 100px;
    height: 400px;


  }

  .flex-container > div.rightColumn {
    min-width: 450px;
    margin-right: 50px;
    height: 400px;
    border: 2px solid black;
  }

  p.shippingConfigTitle {
    /* text-align: center; */
    /* border: 2px solid black; */
    display: inline-block;
    /* padding: 5px 10px; */
    margin-top: 70px;
    margin-left: 100px;
    text-decoration: underline;
    
  }

  div.shippingConfig {
    margin-left: 110px;
    /* border: 2px solid black; */

    /* background-color: red; */


  }



  div.proceedToCheckoutDiv {
    position: relative;
    margin-left: 110px;
  }


div.proceedToCheckoutDiv > input {
  position: absolute;
  right: 20px;
  top: 200px;
  /* bottom: 0; */

}





  div.leftColumn > img {
    margin-top: 70px;
  }

div.centerColumn > div.itemInfo {
  margin-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 70px;

  
}

div.deleteIconSection {
  position: relative;
  width: 330px;
  height: 100px;

}

div.itemInfo > div.deleteIconSection > img {
  /* width: 24px;
  height: 27px; */
  position: absolute;
  /* vertical-align: bottom; */
  right: 0;
  bottom: 0;
}

div.additionalItemRightColumn {
  min-width: 450px;
  margin-right: 50px;
  height: 400px;
  /* border: 2px solid black; */
}

hr.itemDivider {
  width: 55%;
  margin-left: 160px;

}


  

/* 
body {
    width: 100%;
}

div#bodyContainer {
    white-space: nowrap;
    overflow-x: visible;
    width: 1100px;
    position: absolute;
    margin: auto 15% auto 65%;

    right: 10%;
    left: 10%;

    top: auto;
    right: 50px;
    bottom: auto;
    left: 200px;
}

div#leftColumn {
    display: inline-block;
    background-color: lime;
    width: 30%;
    

}

div#centerColumn {
    display: inline-block;
    background-color: red;
    width: 30%;
}

div#rightColumn {
    display: inline-block;
    background-color: aqua;
    width: 40%;
}

div#cartItemInfo {
    width: 100px;
    height: 300px;
    border: 3px solid black;
} */