@charset "utf-8";

/*
    CSS Styles for header.php
    Author: Will
    Filename: header_styles.css
*/

/* Header Styles */
/* CSS adapted from https://www.designcise.com/web/tutorial/how-to-force-html-elements-to-stay-on-the-same-line */

header#topHeader {
    width: 100%;
    text-align: left;
    /* auto height (?) b/c I'm not specifying it */
    white-space: nowrap;
    overflow-x: auto;

    margin: 0px;
}

header#topHeader > div#leftSection {
    width: 30%;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;

    display: inline-block; /* pertinent to child of parent container */

    /* background-color: lime; */
    margin-top: -20px;
    margin-bottom: 0px;
    /* padding-bottom: 20px; */
}

header#topHeader > div#centerSection {
    width: 40%;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;

    display: inline-block; /* pertinent to child of parent container */

    /* background-color: cyan; */
    margin-bottom: 35px;

}

header#topHeader > div#rightSection {
    width: 30%;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;

    display: inline-block; /* pertinent to child of parent container */

    /* background-color: red; */
    /* margin-top: 0px;
    margin-bottom: 0px; */

    margin-top: -20px;
    margin-bottom: 60px;

    /* padding-bottom: 20px; */
}

img#logoImg {
    /* width: 105px; */
    /* height: 74px; */

    width: 200px;
    height: 200px;
    
    text-align: left;
    padding-left: 40px;
    margin-bottom: 0px;

    padding-bottom: 0px;
    padding-top: 30px;
}

h1#siteTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 0px;
    /* font-weight: bold; */
}

p#navigation {
    text-align: right;
    padding-right: 40px;
    margin-bottom: 0px;
}

a {
    font-size: 1.2em;
    color: #0099FF;
}

a:hover {
    color: blue;
}
