@charset "utf-8";

/*
    CSS Styles for index.php
    Author: Will & Hector
    Filename: index_styles.css
*/

div#searchBar {
    margin-top: 20px;
    text-align: center;
}

input#search {
    width: 320px;
}

div#bodyText {
    margin: 40px auto auto auto;
    width: 40%;
}

p {
    margin: auto;
    text-align: left;
}

#featuredItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

.itemImage {
  height: 80%;
}

.itemImage img {
  max-height: 100%;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
