@charset "utf-8";

/*
    CSS Styles for login.php
    Author: Hector
    Filename: login_styles.css
*/

/* Page background color */
body {
  margin: 0;
  padding: 0;
  background: #006747;
  font-family: sans-serif;
}

.title {
  display: block;
  margin: 20px auto;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* Inside loginbox */
.loginbox {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000000; 
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #418fde;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #00558c;
  color: #ffffff;
}
